.btn{
    margin: 15px;
    cursor: pointer;
}

.fab{
  margin: 15px;
  cursor: pointer;
}

.fas{
  margin: 15px;
}


.bouncing {
    
  animation-duration: 3s;
  animation-name: bouncing;
  animation-iteration-count: infinite;
  font-size: 2em;
}

@keyframes bouncing {
    
    50% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.655, 0.060);
      transform: translate3d(0, -10px, 0);
    }

  }

.slideIn{
  animation-duration: 2s;
  animation-name: slideIn;
  animation-iteration-count: 1;
  font-size: 2em
}

@keyframes slideIn{
  20%{
    animation-timing-function: cubic-bezier(0.075, 0.050, 0.655, 0.060);
    transform: translate3d(0, -3px,  0);
  }
}
  
.outsideDiv{
  margin-top: 150px;
}



  body {
    opacity: 1;
    transition: 1s opacity;
}

  body.fade-out {
    opacity: 0;
    transition: none;
}


p{
    font-family: "Courier";
    font-size: 20px;
    width: auto;
  }
  
.fadeIt{
  font-family: "Courier";
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  margin-top: 5%;
  width:100%;
  animation: type 4s steps(700, end); 
}
.fadeSecond{
    font-family: "Courier";
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    animation: type 3s steps(700, end);
}


@keyframes type{
  from { width: 95%;}
} 


​#test{
    display: none;   
}

.centerThisDiv{
  height: 400px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}